.nav-icon {
  @media only screen and (min-width: 1024px) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  width: 35px;
  transform: rotate(0deg);
  transition: 0.2s ease-in-out;
  cursor: pointer;
  row-gap: 7px;

  span {
    display: inline-block;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 9px;
  }
}

.nav-icon.open {
  row-gap: 0;
  justify-content: center;
  align-content: center;
}
.nav-icon.open span:nth-child(1) {
  position: relative;
  background: linear-gradient(
    300deg,
    rgba(95, 216, 250, 1) 19%,
    rgba(102, 52, 218, 1) 100%
  );
  rotate: 45deg;
  transform: translate(50% 50%);
  //   top: 1px;
}
.nav-icon.open span:nth-child(2) {
  display: none;
}
.nav-icon.open span:nth-child(3) {
  background: linear-gradient(
    50deg,
    rgba(95, 216, 250, 1) 19%,
    rgba(102, 52, 218, 1) 100%
  );
  position: relative;
  rotate: -45deg;
  top: -1px;
}
