.container__pageEvents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5vh;
  padding-bottom: 10vh;
}

@media only screen and (min-width: 1024px) {
  .container__pageEvents {
    row-gap: 15vh;
  }
}

.container__events {
  height: 100vh;
  background-image: url("../../../public/assets/bg-events.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: -85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.container__events h1 {
  font-size: 35px;
}

.container__events h1,
.container__events p {
  width: 80%;
}

.container__events em {
  font-size: 30px;
  font-style: normal;
}

@media only screen and (min-width: 768px) {
  .container__events {
    background-position-x: center;
  }
}

.container__gitex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}

.container__gitex-header {
  text-align: end;
}

@media only screen and (min-width: 768px) {
  .container__gitex-header {
    width: 70%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media only screen and (min-width: 1024px) {
  .container__gitex-header {
    width: 40%;
    -ms-flex-item-align: normal;
        -ms-grid-row-align: normal;
        align-self: normal;
  }
  .container__gitex-header h2 {
    -webkit-margin-before: 0;
            margin-block-start: 0;
  }
}

.container__gitex-header .container__gitex-register {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .container__gitex-header .container__gitex-register {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container__gitex-header .container__gitex-register-btn {
    margin: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 1% 5%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    border-width: 1px;
    border-radius: 25px;
    -webkit-box-shadow: inset 1px -1px 2px 0 #5fd8fa, inset -2px -1px 1px 0px #6634da, inset 0px 1px 0px 0px #5fd8fa, inset -2px -1px 1px 0px #6634da;
            box-shadow: inset 1px -1px 2px 0 #5fd8fa, inset -2px -1px 1px 0px #6634da, inset 0px 1px 0px 0px #5fd8fa, inset -2px -1px 1px 0px #6634da;
  }
}

.container__gitex iframe {
  width: 100%;
  border-radius: 7px;
  border: double 2px transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white)), -webkit-gradient(linear, left bottom, left top, from(#6634da), color-stop(#4e74ee), to(#5fd8fa));
  background-image: linear-gradient(white, white), linear-gradient(to top, #6634da, #4e74ee, #5fd8fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

@media only screen and (min-width: 768px) {
  .container__gitex iframe {
    height: 40vh;
  }
}

@media only screen and (min-width: 1024px) {
  .container__gitex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container__gitex iframe {
    width: 55%;
    height: 400px;
  }
}

.container__gitex-register-btn {
  padding: 3% 10%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-width: 1px;
  border-radius: 25px;
  -webkit-box-shadow: inset 1px -1px 2px 0 #5fd8fa, inset -2px -1px 1px 0px #6634da, inset 0px 1px 0px 0px #5fd8fa, inset -2px -1px 1px 0px #6634da;
          box-shadow: inset 1px -1px 2px 0 #5fd8fa, inset -2px -1px 1px 0px #6634da, inset 0px 1px 0px 0px #5fd8fa, inset -2px -1px 1px 0px #6634da;
}

@media only screen and (min-width: 1024px) {
  .container__gitex-register {
    display: none;
  }
}

.container__fifa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.container__fifa h2 strong {
  background: linear-gradient(90.13deg, #5fd8fa 0.05%, #6634da 105.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.container__fifa img {
  width: 100%;
  border-radius: 7px;
  border: double 2px transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white)), -webkit-gradient(linear, left bottom, left top, from(#6634da), color-stop(#4e74ee), to(#5fd8fa));
  background-image: linear-gradient(white, white), linear-gradient(to top, #6634da, #4e74ee, #5fd8fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

@media only screen and (min-width: 1024px) {
  .container__fifa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container__fifa .container__fifa-header {
    width: 40%;
  }
  .container__fifa img {
    width: 50%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.container__tournament {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: end;
}

.container__tournament img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (min-width: 1024px) {
  .container__tournament {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container__tournament .container__tournament-header {
    width: 50%;
  }
  .container__tournament img {
    width: 45%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=Events.css.map */